

@import "tailwindcss";

@font-face {
  font-family: "B Nazanin";
  src: url("/src/font/B-NAZANIN.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: "B-NAZANIN", sans-serif;
}
